@font-face {
   font-family: 'Tinos';
   src: url('../fonts/Tinos-Regular.ttf');
}
*{
    box-sizing: border-box !important;
}
html{
   scroll-behavior: auto;
   scroll-behavior: smooth;
   min-height: 100vh;
   height: 100%;

}
body{
   color:#222C00ff;
   position: relative;
   height: 100vh;
   font-family: 'Tinos', serif;

}
svg{
   height:auto;
}
footer{
   width:100%;
   bottom:0;
   background-color: #444444;
   color:white;
}
textarea{
   height:150px;
}

h2{
   font-size: 2.2rem;
}
canvas{
   width:100% !important;
}

#logo{
   width:130px;
   height:55px;

   object-fit: contain;
   object-position: center;
   /* background-position: center;
   background-size: cover;
   background-image: url('../assets/ortodentica/Ortodentica-logo-czarne\ \(1\)-1.jpg'); */
}



button#submit:focus,
button#submit:active,
.btn-sweet-brown:focus,
.btn-sweet-brown:active{
   background-color: var(--sweet-brown-dark);
   border-color: var(--sweet-brown-dark);
   box-shadow:0 0 0 .25rem var(--sweet-brown-transparent) !important;
}

button#submit,
.btn-sweet-brown{
   background-color: var(--sweet-brown);
   border-color: var(--sweet-brown);
}
button#submit:hover,
.btn-sweet-brown:hover{
   background-color: var(--sweet-brown-dark);
   border-color: var(--sweet-brown-dark);
}




/* AKSJOMATY */
.zIndex-5{
   z-index: 5 !important;
   /* position: relative; */
}
.py-adjusted{
  padding-top: 75px;
  padding-bottom: 75px;
}

.svg-experience,
.svg-doctors,
.svg-certificate,
.svg-trust,
.svg-contact,
.svg-map{
   display: none;
}

.paragraph{
   font-size:1.4rem;
} 
.order-1{
   order: 1;
}
.order-2{
   order: 2;
}
.member,
.not-scroll{
   content-visibility: auto ;
}
.content-box{
   box-sizing: content-box;
}
.justify-top{
   justify-content: flex-start !important;
}
.absolute{
   position: absolute !important;
}
.relative{
   position: relative !important;
}
.h-200{
   height: 200px;
}
.text-sweet-brown{
   color:var(--sweet-brown) !important;
}
.center-everything{
   display:flex;
   justify-content: center;
   align-items: center;
   /* text-align: center; */
   flex-direction: column;
}
.bg-bone{
   background-color: var(--bone);
}
.bg-bone-transparent{
   background-color: var(--bone-transparent);
}
.bg-sweet-brown{
   background-color: var(--sweet-brown);
}
.border-sweet-brown{
   border:2px solid var(--sweet-brown);
}
.border-box{
   box-sizing: border-box !important;
}

.break{
   height: 2rem !important;

}






/* input,textarea{
   background-color: white !important;
} */





/* CONTENT */
.card{
   width:18rem;
   transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover{
   transform: translate3d(0,-10px,0);
}

#title{
   transform: translateY(-35%);
   background-color: var(--bone-trasparent);
   border: 2px solid var(--sweet-brown);
   border-radius: 8px;
   backdrop-filter: blur(3px);
}
#showMore{
   -webkit-box-shadow: 0px 0px 10px 2px rgba(110, 109, 109, 0.048);
   box-shadow: 0px 0px 10px 2px rgba(110, 109, 109, 0.048);
   border-radius: 50%;
   border:1px solid var(--sweet-brown);
   width:70px;
   height: 70px;
   position: absolute;
   bottom:10%;left:50%;

   color: var(--sweet-brown);
   background-color: var(--bone-trasparent);
   backdrop-filter: blur(3px);

   display: flex;
   justify-content: center;
   align-items: center;

   animation:moveDown 6s ease-in-out 0.5s infinite both;
}
#showMore svg{
   width:100%;
   height: 65%;
}
#showMore svg:hover{
   animation:rotateHover 1s ease-out;
}
#showMore:hover{
   animation-play-state:paused;
}

.row-img{
   max-width:400px;
   width:80%;
   border: 5px solid var(--sweet-brown);
}




/* #row2-img{
   background-image: url("../assets/ortodentica/img_3728_dxo.jpg");
   background-position: center;
   background-size: cover;
   border: 5px solid var(--sweet-brown);
   flex:1;
   width:80%;
   margin-right:auto;
   margin-left:auto;
} */
/* #content p {
   font-size: 1.4rem;
} */
#welcome-img{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height:clamp(400px,100vh,700px);
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0)),url("../assets/ortodentica/img_3731_dxo.jpg");
}

.nav-gradient{
   will-change: height, background-color, backdrop-filter, border-bottom;
   width:100%;
   z-index: 100;
   align-items: flex-start;


   background-color: rgba(255, 255, 255, 0.7);
   background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="wheatfff",endColorstr="#ffffff",GradientType=1);

   transition: background-color .4s ease-in-out, border-bottom .4s ease-in-out, border-bottom-color 0s linear;
}
.nav-link{
   color:#222C00ff !important;
}
.nav-link.active{
   color:#292d31 !important;
}
.solid-nav{
   background-color:rgb(255, 255, 255);
   border-bottom: 1px solid var(--sweet-brown);
}

.space{
   width:100%;
   height: 20px;
   /* background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235, 215, 196, 0) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,0) 100%);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebd7c4",GradientType=1); */
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebd7c4",GradientType=1);
}

.upsidedown{
   transform: rotate(180deg);
}










/* TEAM */
/* #team{
   margin-bottom: 35px !important;
} */
.member{
   position: relative;
   height: 100%;
   width:76.52px;
   margin:5px;
   
   background-size: cover;
   background-position: center;
   border-radius: 3px;
   
   -webkit-box-shadow:  0px 0px 5px 1px rgba(0,0,0,0.51); 
   box-shadow:  0px 0px 5px 1px rgba(0,0,0,0.51);
   
   cursor: pointer;
   transition: all 0.15s ease-in-out;
}
#members{
   height:110px;

   margin:0 auto;
   overflow-y: hidden;
   overflow-x: scroll;
   
   background-color:rgba(206, 171, 139, 0.58);
   -webkit-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.4); 
   box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.4);
} 
#members .scroll-content{
   display: flex;
   flex-wrap: nowrap;
   height:100%;
   margin-bottom: 15px;
}

#shownMemberPic{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;

   width: min(100%,500px);
   padding-bottom: min(100%,500px);
   justify-self: center;
   align-self: center;

   transition: all 0.20s ease-in-out;
}
#shownMemberInfo,#shownMemberName{
   line-height: 1.1em;
   width: min(100%,500px);
   justify-self: center;
   align-self: center; 
}
.whiten{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: transparent;

   transition: background-color 0.3s ease-in-out;
}
.member:hover .whiten{
   background-color: rgba(255, 255, 255, 0.5);
}

.member:hover .bi-search{
   opacity: 1;
   transform: translate3d(-40%,-40%,0) scale(1.5);
}

.member:nth-of-type(1){
   background-image: url('../assets/team/1-min.jpg');
}
.member:nth-of-type(2){
   background-image: url('../assets/team/2-min.jpg');
}
.member:nth-of-type(3){
   background-image: url('../assets/team/3-min.jpg');
}
.member:nth-of-type(4){
   background-image: url('../assets/team/4-min.jpg');
}
.member:nth-of-type(5){
   background-image: url('../assets/team/5-min.jpg');
}
.member:nth-of-type(6){
   background-image: url('../assets/team/6-min.jpg');
}
.member:nth-of-type(7){
   background-image: url('../assets/team/7-min.jpg');
}
.member:nth-of-type(8){
   background-image: url('../assets/team/8-min.jpg');
}
.member:nth-of-type(9){
   background-image: url('../assets/team/9-min.jpg');
}
.member:nth-of-type(10){
   background-image: url('../assets/team/10-min.jpg');
}
.member:nth-of-type(11){
   background-image: url('../assets/team/11-min.jpg');
}
.member:nth-of-type(12){
   background-image: url('../assets/team/12-min.jpg');
}
.member:nth-of-type(13){
   background-image: url('../assets/team/13-min.jpg');
}
















/* MAPY */
#mapa{
   min-height: 80vh;
   display: flex;
   /* padding-top: 70px; */
}

#mapa #mapContainer{
   position: relative;
   width:90%;
   /* content-visibility: auto; */
   height:clamp(420px,75vh,500px);
  
   border:2px solid var(--sweet-brown);
   /* border-left: none;
   border-right: none; */
   
}



#mapa .row div:first-of-type{
   background-color: white;
   /* border-bottom:2px solid var(--sweet-brown); */
   height: 596px;
}

#mapa #map {
   width:100% !important;
   height: 100%;
   content-visibility: auto;
   background-color: rgb(191, 237, 255);


   background-image: url('../assets/ortodentica/map.png');
   background-size: auto;
   background-position: center;
   /* border-left: 2px solid var(--sweet-brown); */
   /* border-left: none; */
   /* border-right: none; */
   /* border-top: none;
   border-bottom: none; */
   padding:0;
   position: relative;
   /* margin:auto 0; */
}

#mapa #mapContainer .mapboxgl-popup-content{
   padding:5px;
}
#mapa #mapContainer h3{
   font-size: 0.9rem;
   margin: 0;
}
#mapa #mapContainer p{
   font-size: 0.7rem;
   margin: 0;
}

/* CHECK THE SUPPORT IN DIFFERENT BROWSERS LATER */
#mapa #map:hover:after{opacity: 1;}
#mapa #map.map-activated:after{opacity:0;}
#mapa #map.map-activated:before{opacity:0;}
#mapa #map:before{
   position: absolute;
   content:'';

   background-image: url('../assets/ortodentica/controllers.png');
   background-position: center;
   
   margin-top: 8px;
   margin-left: 8px;

   width:33px;
   height: 91px;
}
#mapa #map::after{
   position: absolute;
   font-family: 'Roboto';
   content:'Kliknij by aktywować mapę';

   text-align: center;
   line-height: 2rem;
   text-transform: uppercase;
   opacity: 0;
   /* opacity: 1; */
   pointer-events: none;

   width:100%;
   height: 100%;
   display: flex;
   justify-content: center;
   font-size:x-large;
   align-items: center;
   position: absolute;
   padding-bottom: 20px;
   
background: #0505051c;
  color: white; 
  text-shadow: 0px 0px 5px #000000;

  transition: opacity 0.25s ease-in-out;

  -webkit-box-shadow: inset 0px 0px 30px -1px rgba(50, 50, 50, 0.54);
  -moz-box-shadow:    inset 0px 0px 30px -1px rgba(50, 50, 50, 0.54);
  box-shadow:         inset 0px 0px 30px -1px rgba(50, 50, 50, 0.54);
}



#contact,
#mapa{
   overflow-x: hidden;
}







/* KURSOR */
#cursor{
   pointer-events: none;
   position: fixed;
   width:45px;
   height: 45px;
   z-index: 1000;
   top:var(--mtop);
   left:var(--mleft);
   border: 4px solid var(--sweet-brown);
   transform:translate3d(0,0,0) ;

   animation: cursorRotate 10s linear infinite;
}
#cursor.mouse-down{
   animation-play-state: paused;
}

/* #members .scroll-content{
   display: flex;
   flex-wrap: nowrap;
   height:100%;
   margin-bottom: 15px;
} */











/* GALERIA ZDJĘĆ */
#carousel{
   background-color: white;
}
.carousel-inner{
   border:5px solid var(--sweet-brown);
}
#carouselImages,.carousel-item,.arousel-inner{
   max-height: min(600px,70vh);
}









/* ADVERTISEMENT */
#ads{
   /* border: 2px solid #222C00ff; */
   border-left: none;
   border-top: none;

   opacity: 0;
   font-size: 0.84rem;
   /* font-size: 1rem; */
   position: fixed;
   left:0;  
   top:100vh;
   transform: translate3d(0,-130%,0);
   display: flex;
   flex-direction: column;
   
   z-index: 1000;
   /* background-color: #f7ece2; */
   background-color: var(--slate-gray);

   height:min-content;
   
   transition: opacity 0.5s ease-in-out;
}

#ads a{
   /* border-top: 2px solid #222C00ff; */
   color:white;
   display: flex;
   justify-content: center !important;
   align-items: center !important;
   text-decoration: none;
   /* padding:7px 7px 7px 5px; */
   writing-mode: vertical-rl;
   text-orientation: upright;

}

#ads a:nth-of-type(1){
   padding:10px 2px;
}
#ads a:nth-of-type(2){
   background-color: var(--slate-gray-dark);
   height:24px;
   
}
#ads a:nth-of-type(3){
   background-color: var(--slate-gray-dark-extra);
   height:24px;
   
}

#ads svg{
   /* box-sizing: content-box !important; */
   /* padding:6px; */
   /* display: flex; */
   width:14px;
   height:14px;

   /* width:18px; */
}


footer a{
   color: white;
   /* text-transform: uppercase; */
   /* text-decoration: none;
   border-bottom:1px solid white;
   width:fit-content; */
}

footer a:hover{
   color: var(--sweet-brown);
}

footer img{
   margin-left: 2px;
   margin-top: -4px;
}




/* ANIMATIONS KEYFRAMES */
@keyframes moveDown{
   0%{transform: translate(-50%,0vh);}
   30%{transform: translate(-50%,5vh);}
   50%{transform: translate(-50%,0vh);}
   70%{transform: translate(-50%,3vh);}
   90%{transform: translate(-50%,0vh);}
   100%{transform: translate(-50%,0vh);}
}

@keyframes rotateHover{
   0%{transform: rotate(0deg)}
   20%{transform: rotate(20deg)}
   40%{transform: rotate(-10deg)}
   60%{transform: rotate(5deg)}
   80%{transform: rotate(-2.5deg)}
   100%{transform: rotate(0deg)}
}

@keyframes cursorRotate{
   0%{
      transform:scale(1) rotate(0deg);
   }
   25%{
      transform:scale(0.7) rotate(90deg);
   }
   50%{
      transform:scale(1) rotate(180deg);
   }
   75%{
      transform:scale(0.7) rotate(270deg);
   }
   100%{
      transform:scale(1) rotate(359deg);
   }
}