:root{
   /* CSS HEX */
--bone:#ebd7c4;
--bone-trasparent-vivit:#f5d7bcad;
--bone-trasparent:#f5d9bead;
--bone-trasparent-title:#fff8efbe;
--sweet-brown: #9D3C31ff;
--sweet-brown-dark: rgb(126, 48, 38);
--sweet-brown-transparent: rgba(223, 63, 41, 0.678);
--slate-gray: rgb(61, 129, 219);
--slate-gray-dark: rgb(49, 105, 179);
--slate-gray-dark-extra: rgb(36, 76, 129);
--grullo: rgb(233, 163, 71);
--pine-tree: #222C00ff;
--pine-tree-light: rgb(84, 92, 55);
}