:root{
   /* CSS HEX */
--bone:#ebd7c4;
--bone-trasparent:#f7ece2ad;
--sweet-brown: #9D3C31ff;
--slate-gray: #647994ff;
--grullo: #A69F96ff;
--pine-tree: #222C00ff;
--pine-tree-light: rgb(84, 92, 55);
}