:root{
   /* CSS HEX */
--bone:#ebd7c4;
--bone-trasparent-vivit:#f5d7bcad;
--bone-trasparent:#f7ece2ad;
--sweet-brown: #9D3C31ff;
--slate-gray: rgb(61, 129, 219);
--slate-gray-dark: rgb(49, 105, 179);
--slate-gray-dark-extra: rgb(36, 76, 129);
--grullo: rgb(233, 163, 71);
--pine-tree: #222C00ff;
--pine-tree-light: rgb(84, 92, 55);
}