@font-face {
   font-family: 'Tinos';
   src: url('../fonts/Tinos-Regular.ttf');
}
*{
    box-sizing: border-box !important;
}
html{
   scroll-behavior: auto;
   scroll-behavior: smooth;
   min-height: 100vh;
   height: 100%;
}

body{
   color:#222C00ff;
   position: relative;
   height: 100vh;
   font-family: 'Tinos', serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
svg{
   height:auto;
}
footer{
   /* position: fixed; */
   width:100%;
   bottom:0;
   background-color: #444444;
   color:white;
}
footer a{
   color: white;
   /* text-transform: uppercase; */
   /* text-decoration: none;
   border-bottom:1px solid white;
   width:fit-content; */
}

footer a:hover{
   color: var(--sweet-brown);
}

footer img{
   margin-left: 2px;
   margin-top: -4px;
}





div.scroll-content{
   min-height: 100vh !important;
   position: relative;

   display: flex;
   flex-direction: column;

   justify-content: space-between;
   /* align-items: space-between; */
}

#logo{
   width:130px;
   height:55px;

   object-fit: contain;
   object-position: center;
   /* background-position: center;
   background-size: cover;
   background-image: url('../assets/ortodentica/Ortodentica-logo-czarne\ \(1\)-1.jpg'); */
}

hr[role="tournament6"] {
   border: 0px solid;
   height: 2px;
   background-color: #9D3C31ff;
   /* background-image: linear-gradient(to right, rgb(157, 60, 49), var(--sweet-brown), rgb(157, 60, 49)); */
   margin: 32px 0px;
   display: block;
}
hr[role="tournament6"]::before {
   position: absolute;
   background-color: #f7ece2e0;
   border: 2px solid;
   border-color: var(--sweet-brown);
   padding: 10px;
   transform: rotate(45deg);
   left: 50%;
   margin: -11px 0px 0px -22px;
   content: "";
}

.maszyna{
   display: flex;
   justify-content: center;
   align-items: center;
}

.my-auto{
   margin-top: auto !important;
   margin-bottom: auto !important;
}
.border-sweet{
   border: 2px solid var(--sweet-brown);
}

.bg-transparent{
   background-color: #f5d9bead !important;
}
.bg-transparent-body{
   background-color: #fff6f0 !important;
}

.color-sweet-brown{
   color: var(--sweet-brown);
}
.bg-bone{
   background-color: var(--bone);
}
.bg-sweet-brown{
   background-color: var(--sweet-brown);
}
.break{
   height: 2rem !important;

}
.nav-gradient{
   will-change: height, background-color, backdrop-filter, border-bottom;
   width:100%;
   z-index: 100;
   align-items: flex-start;


   background-color: rgba(255, 255, 255, 0.7);
   background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="wheatfff",endColorstr="#ffffff",GradientType=1);

   transition: background-color .4s ease-in-out, border-bottom .4s ease-in-out, border-bottom-color 0s linear;
}
.nav-link{
   color:#222C00ff !important;
}
.nav-link.active{
   color:#292d31 !important;
}
.solid-nav{
   background-color:rgb(255, 255, 255);
   border-bottom: 1px solid var(--sweet-brown);
}


/* ADVERTISEMENT */
#ads{
   /* border: 2px solid #222C00ff; */
   border-left: none;
   border-top: none;

   opacity: 1;
   font-size: 0.84rem;
   /* font-size: 1rem; */
   position: fixed;
   left:0;  
   top:100vh;
   transform: translate3d(0,-130%,0);
   display: flex;
   flex-direction: column;
   
   z-index: 1000;
   /* background-color: #f7ece2; */
   background-color: var(--slate-gray);

   height:min-content;
   
   transition: opacity 0.5s ease-in-out;
}

#ads a{
   /* border-top: 2px solid #222C00ff; */
   color:white;
   display: flex;
   justify-content: center !important;
   align-items: center !important;
   text-decoration: none;
   /* padding:7px 7px 7px 5px; */
   writing-mode: vertical-rl;
   text-orientation: upright;

}

#ads a:nth-of-type(1){
   padding:10px 2px;
}
#ads a:nth-of-type(2){
   background-color: var(--slate-gray-dark);
   height:24px;
   
}
#ads a:nth-of-type(3){
   background-color: var(--slate-gray-dark-extra);
   height:24px;
   
}

#ads svg{
   /* box-sizing: content-box !important; */
   /* padding:6px; */
   /* display: flex; */
   width:14px;
   height:14px;

   /* width:18px; */
}

.row{
   padding-top: 50px;
   padding-bottom: 50px;
}

.pic{
   /* min-height: 400px; */
   height: 100%;
   background-position: center;
   /* background-size: cover; */
   background-size: contain;
   background-repeat: no-repeat;
}

.data{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.data h3{
   color: var(--sweet-brown);
}
.data p,p.intro{
   font-size: 18px;
}

.tomograf{
   background-image: url('../assets/maszyny/orginal/IMG-20210316-WA0001.jpg');
}

.mikroskop{
   background-image: url('../assets/maszyny/orginal/IMG-20210316-WA0006.jpg');
}
.kamera{
   background-image: url('../assets/maszyny/orginal/kamera_C-U2_03.png');
}
.endoradar{
   background-image: url('../assets/maszyny/orginal/IMG-20210316-WA0007.jpg');
}
.lampa{
   background-image: url('../assets/maszyny/orginal/IMG-20210316-WA0005.jpg');
}
.stern{
   background-image: url('../assets/maszyny/orginal/IMG-20210319-WA0008.jpg');
}
.radio{
   background-image: url('../assets/maszyny/orginal/RXDC_Extend_01.png');
}
.pic-container{
   height:300px;
}

/* #regulamin{
   margin-bottom: 670px !important;
} */
.width-till-md-90{
   width:90%;
   margin-left: auto;
   margin-right: auto;
}

/* MIN */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   .pic-container{
      height:350px;
   }

   

   .width-till-sm-90{
      width:100%;
   }
   #ads a{
      font-size: 1rem;
      /* padding:7px 7px 7px 5px; */
   }

   #ads a:nth-of-type(1){
      padding:10px 6px;
   }
   #ads a:nth-of-type(2){
      height:36px;
      
   }
   #ads a:nth-of-type(3){
      height:36px;
      
   }

   #ads svg{
      width:22px;
      height:22px;
   }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   /* #regulamin{
      margin-bottom: 400px !important;
   } */
   .nav-link{
      font-size: 1.15rem;
   }
   .data h3{
      font-size: 2.1rem;
   }
   .data p,p.intro{
      font-size: 22px;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }