/* MEDIA QUARIES */

/* MAX */
/* Medium breakboint */
@media(max-width:767px){
   .width-till-md-90{
      width:90%;
   }
   #members{
      width:90%;
   }
   #contact{
      min-height: 100vh;
   }


}

/* MIN */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   .row1-img{
      width:400px;
      height: 253px;
   }
   h2{
      font-size:2.7rem;
   }
   .paragraph{
      font-size:1.1rem;
   }

   #ads a{
      font-size: 1rem;
      /* padding:7px 7px 7px 5px; */
   }

   #ads a:nth-of-type(1){
      padding:10px 6px;
   }
   #ads a:nth-of-type(2){
      height:36px;
      
   }
   #ads a:nth-of-type(3){
      height:36px;
      
   }

   #ads svg{
      width:22px;
      height:22px;
   }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

   .svg-welcome{
      display: flex;
      position: absolute;
      width:20%;
      right:0;
   }

   .svg-contact{
      display: flex;
      position: absolute;
      width:20%;
      top:20%;left:8%;
   }
   
   .svg{
      display: flex;
      position: absolute;
      right:0;
      top:-10%;
      transform: translate3d(50%,0,0) rotate(-5deg);
      z-index: 5 !important;
      
      margin:0 auto;
      width:30%;
   }

   

   
   h2{
      font-size:3rem;
   }
   .paragraph{
      font-size:1.2rem;
   }


   #carousel h2{
      margin-top:100px !important;
   }
   #contact,#team,#carousel{
      padding-bottom: 100px !important;
   } 
   #team{
      padding-top: 70px !important;
   }
   /* textarea{
      height:150px;
   } */
 
   .absolute-md{
      position: absolute !important;
   }

   #shownMemberPic{
      height: 0px;
      margin-left: auto;
      margin-right: auto;
      align-self: flex-end;
      flex-grow: 1;
   }
   .member{
      height: 0px;
      width:calc(100%/2 - 10px);
      padding-bottom: calc(100%/2 - 10px);
   }

   #members{
      padding:10px 10px !important;
      height: 700px;
      max-height:700px;
      overflow-y: scroll;
      overflow-x: hidden;
   }
   
   /* SMOOTH SCROLLBAR */
   #members .scroll-content{
      display: flex;
      padding:0;
      flex-wrap: wrap;
      width:100%;
      justify-content: center;
   }

   

   .order-md-1{
      order: 1;
   }
   .order-md-2{
      order: 2;
   }
   .bg-md-bone{
      background-color: var(--bone) !important;
   }
   .bg-md-white{
      background-color: white !important;
   }
   .rounded-bottom-left-xl{
      border-bottom-left-radius:150px ;
   }
   .rounded-bottom-left{
      border-bottom-left-radius:50px;
   }

   .rounded-top-left{
      border-top-left-radius:50px;
   }
   .rounded-top-left-xl{
      border-top-left-radius:150px;
   }

   .rounded-top-right{
      border-top-right-radius:50px;
   }
   .rounded-top-left-s{
      border-top-left-radius:25px;
   }

   .rounded-top-right-s{
      border-top-right-radius:25px;
   }

   .rounded-bottom-right{
      border-bottom-right-radius:50px;
   }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   h2{
      font-size: 3.5rem;
   }
   .paragraph{
      font-size:1.4rem;
   }
   .member{
   
      width:calc(100%/3 - 10px);
      padding-bottom: calc(100%/3 - 10px);
   }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }