@font-face {
   font-family: 'Tinos';
   src: url('../fonts/Tinos-Regular.ttf');
}
*{
    box-sizing: border-box !important;
}
html{
   scroll-behavior: auto;
   scroll-behavior: smooth;
   margin: 0;
   padding:0;
   min-height: 100vh;
   height: 100%;

}
body{
   color:#222C00ff;
   position: relative;
   background-color: var(--bone-trasparent-vivit);
   /* background-color: var(--bone); */
   height: 100vh;
   font-family: 'Tinos', serif;

}
svg{
   height:auto;
}

h1{
   /* text-transform: uppercase; */
   color:var(--sweet-brown);
}

#logo{
   width:130px;
   height:55px;

   object-fit: contain;
   object-position: center;
   /* background-position: center;
   background-size: cover;
   background-image: url('../assets/ortodentica/Ortodentica-logo-czarne\ \(1\)-1.jpg'); */
}

footer{
   width:100%;
   bottom:0;
   background-color: #444444;
   color:white;
}

footer a{
   color: white;
   /* text-transform: uppercase; */
   /* text-decoration: none;
   border-bottom:1px solid white;
   width:fit-content; */
}

footer a:hover{
   color: var(--sweet-brown);
}

footer img{
   margin-left: 2px;
   margin-top: -4px;
}

.member-data p{font-size: 1.1rem;}

.bg-sweet-brown{
   background-color: var(--sweet-brown);
}

.nav-gradient{
   will-change: height, background-color, backdrop-filter, border-bottom;
   width:100%;
   z-index: 100;
   align-items: flex-start;
   background-color: rgba(255, 255, 255, 1);

   transition: background-color .4s ease-in-out, border-bottom .4s ease-in-out, border-bottom-color 0s linear;
}
.nav-link{
   color:#222C00ff !important;
}
.nav-link.active{
   color:#292d31 !important;
}
.solid-nav{
   background-color:rgb(255, 255, 255);
   border-bottom: 1px solid var(--sweet-brown);
}
hr[role="tournament6"] {
   border: 0px solid;
   height: 1px;
   background-color: #9D3C31ff;
   /* background-image: linear-gradient(to right, rgb(157, 60, 49), var(--sweet-brown), rgb(157, 60, 49)); */
   margin: 32px 0px;
   display: block;
}
hr[role="tournament6"]::before {
   position: absolute;
   background-color: #f7ece2e0;
   border: 1px solid;
   border-color: var(--sweet-brown);
   padding: 10px;
   transform: rotate(45deg);
   left: 50%;
   margin: -10px 0px 0px -22px;
   content: "";
}
.space{
   width:100%;
   height: 20px;
   /* background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235, 215, 196, 0) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,0) 100%);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebd7c4",GradientType=1); */
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,215,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebd7c4",GradientType=1);
}



.w-90-till-sm{
   width: 87%;
}

.member{
/* 
   min-height: 100%; */
   max-width:max(400px,90%);
   margin:4rem auto;
   /* margin-top: 4rem;
   margin-bottom: 4rem; */
   
   background-color: var(--sweet-brown);
   -webkit-box-shadow: 0px 8px 13px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    0px 8px 13px 0px rgba(50, 50, 50, 0.25);
box-shadow:         0px 8px 13px 0px rgba(50, 50, 50, 0.25);
}

.member-data{
   /* display: flex;
   flex-direction: column;
   justify-content: center; */

   background-color: white;
   padding:1rem 1.5rem 1.5rem 1rem;
   border: 3px solid var(--sweet-brown);
}

.member-data h3{
   margin-top: 0.8rem;
   font-size: 2.2rem;
   color: var(--sweet-brown);
}
.member-data h5{
   color: var(--sweet-brown);
   
   margin-top: 10px;
   margin-bottom: 14px;
   
}
.member-pic{
   /* display: none; */
   object-fit:cover;
   height: 250px;
   width:100%;


   /* margin-top:0 !important;
   margin-bottom: 0 !important; */
   padding:6px !important;
}


.obj-top{
   
   /* height: 400px; */
   object-position: top;
   
}

.obj-agn{

   object-position: top left;
}


/* ADVERTISEMENT */
#ads{
   /* border: 2px solid #222C00ff; */
   border-left: none;
   border-top: none;

   opacity: 1;
   font-size: 0.84rem;
   /* font-size: 1rem; */
   position: fixed;
   left:0;  
   top:100vh;
   transform: translate3d(0,-130%,0);
   display: flex;
   flex-direction: column;
   
   z-index: 1000;
   /* background-color: #f7ece2; */
   background-color: var(--slate-gray);

   height:min-content;
   
   /* transition: opacity 0.5s ease-in-out; */
}

#ads a{
   /* border-top: 2px solid #222C00ff; */
   color:white;
   display: flex;
   justify-content: center !important;
   align-items: center !important;
   text-decoration: none;
   /* padding:7px 7px 7px 5px; */
   writing-mode: vertical-rl;
   text-orientation: upright;

}

#ads a:nth-of-type(1){
   padding:10px 2px;
}
#ads a:nth-of-type(2){
   background-color: var(--slate-gray-dark);
   height:24px;
   
}
#ads a:nth-of-type(3){
   background-color: var(--slate-gray-dark-extra);
   height:24px;
   
}

#ads svg{
   /* box-sizing: content-box !important; */
   /* padding:6px; */
   /* display: flex; */
   width:14px;
   height:14px;

   /* width:18px; */
}






@media (min-width: 369px) { 
   .member-pic{
    height:350px;
   }

}
@media (min-width:500px) { 
   .member{
      width:90%;
   }
   .member-pic{
    height:400px;
   }


}



/* MIN */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

   .member-data p{font-size: 1.15rem;}

   .w-90-till-sm{
      width:100%;
   }

   #ads a{
      font-size: 1rem;
      /* padding:7px 7px 7px 5px; */
   }

   #ads a:nth-of-type(1){
      padding:10px 6px;
   }
   #ads a:nth-of-type(2){
      height:36px;
      
   }
   #ads a:nth-of-type(3){
      height:36px;
      
   }

   #ads svg{
      width:22px;
      height:22px;
   }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   .nav-link{
      font-size: 1.15rem;
   }
   .member{
      width:100%;
      max-width: 500px;
   }
   .member-pic{
      /* object-fit:scale-down; */
      height: 450px;

   }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   .member-data p{
      font-size: 1.18rem;
   }
   h3{
      font-size: 40px !important;
   }
   
   .member-data{
      border-left: none;
   }
   
   .member{
      max-width: none;
   }


   .member-pic{
      height: 100% !important;
   }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   .member-data p{
      margin-top:2rem;
      margin-bottom:4px;
      font-size: 1.2rem;
   }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  
   .member-data p{
      font-size: 1.3rem;
   }
}
